@import '../../../values.scss';

.navbar {
    background-color:$second-color;
    padding:0;
    font-size:20px;
    line-height: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top:1rem;
    .navbar-nav {
        width:100%;
        display: flex;
        justify-content: space-between;
        .nav-link {
            color:$text-color !important;
            padding-left:1.5rem;
            padding-right:1.5rem;
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &.active {
                color:$second-text-color !important;
                background-color:$third-color;
            }
        }
    }
}

@media(max-width:1200px) {
    .nav-link {
        font-size:16px;
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
}

@media(max-width:992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }
        .navbar-nav {
            flex-direction: row;
            flex-wrap:wrap;
            justify-content:center;
            .nav-link {
                font-size:17px;
                text-align:center;
                width:(100%/4);
            }
        }
    }
}

@media(max-width:767px) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding-left:0.5rem;
                padding-right:0.5rem;
                font-size:15px;
            }
        }
    }
}

@media(max-width:534px) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                width:(100%/3);
            }
        }
    }
}

@media(max-width:408px) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                width:(100%/2);
            }
        }
    }
}
