@import '../../values.scss';

.rhap_container {
  background-color: $color-for-blocks !important;
  box-shadow:none !important;
  padding-left:0 !important;
  padding-right:0 !important;
  &:focus {
    outline: none !important;
  }
  :focus {
    outline: none !important;
  }

  .rhap_controls-section {
    flex:0 0;
    margin-right:0.5rem;
    .rhap_play-pause-button {
      font-size:50px;
      height:50px;
      width:50px;
      svg {
        color:$second-color !important;
      }
    }
  }
  .rhap_progress-section {
    .rhap_time {
      color: $text-color !important;
    }
    .rhap_progress-indicator {
      background:$third-color !important;
    }
    .rhap_progress-filled {
      background:$second-color !important;
    }
  }
}
